<div class="section no-pad-bot" id="index-banner">
  <br><br>
  <h1 class="header center black-text">asoviva!</h1>
  <div class="row center grey-text darken-2 light">
    <p>asovivaは行きたい場所・イベントを共有して一緒に行く友達を見つけるサービスです。</p>
    <p>なかなか誘えなかったあの子の「行きたい！」がわかるかも…！</p>
  </div>
  <div class="row center">
    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light blue">はじめる！</a>
  </div>
  <br><br>
</div>
