<div id="follow-btn_<%= user.id %>">
  <% if !current_user?(user) %>
    <% if user.followed_by?(current_user) %>
      <div class="chip chip_position white-text grey">
          <%= link_to 'フォロー中', user_relationships_path(user.id), method: :delete, class: "white-text", remote: true %>
      </div>
    <% else %>
    <div class="chip chip_position white-text indigo">
        <%= link_to 'フォローする', user_relationships_path(user.id), method: :post, class: "white-text", remote: true %>
    </div>
    <% end %>
  <% end %>
</div>
