<div class="container">
  <p>commented</p>
  <% @posts.each do |post| %>
  <% post.comments.each do |comment| %>
  <% user = User.find(comment.user_id) %>
    <p><%= post.name %></p>
    <p><%= user.name %></p>
    <p><%= comment.body %></p>
  <% end %>
  <% end %>
</div>
