<div class="fixed-action-btn_write">
  <a class="waves-effect waves-light modal-trigger btn-floating btn-large indigo" href="#create_post"><i class="large material-icons">mode_edit</i></a>
</div>
<div id="create_post" class="modal">
  <div class="modal-content">
    <% if user_signed_in? %>
      <%= render partial: 'posts/form', locals: { post: @post, title: "行きたいとこ登録", path_default: posts_path, btn_text: '行きたい！' } %>
    <% else %>
      <div class="container">
        <%= render 'devise/shared/login_form' %>
        <div class="fix-pb">
          もしくは<%= link_to "新規登録", new_user_registration_path %><br />
          パスワードを忘れた方は<%= link_to "こちら", new_user_password_path %><br />
        </div>
      </div>
    <% end %>
  </div>
</div>
