//= require_tree
//= reqire_self
@import "materialize";
@import "material_icons";

$tab: 601px;
$pc: 1000px;

@mixin tab {
  @media only screen and (min-width: ($tab)) {
    @content;
  }
}

@mixin pc {
  @media only screen and (min-width: ($tab)) {
    @content;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 2rem;
  }

main {
  flex: 1 0 auto;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.border-footer {
  border: 1px #eee solid;
  }

.footer-text {
  padding-bottom: 10px;
}

.btn {
  text-transform: none;
}

.btn-long {
  @extend .btn;
  width: 80%;
}

.title-suffix {
  font-size: 10px;
  margin-left: 1em;
}

.fixed-action-btn {
  right: 2rem;
  bottom: 5rem;
}

.datepicker-date-display {
  background-color: #ffb300;
}

.datepicker-table td.is-selected {
  background-color: #ffb300;
  color: #fff;
}

.datepicker-table td.is-today {
  color: #ffb300;
}

#toast-container {
  position: fixed;
  top: 48px;
  bottom: auto !important;
  @include tab {
    top: 56px;
  }
}

.btn-floating.halfway-fab {
  top: 95px;
}

.fixed-action-btn_write {
  @extend .fixed-action-btn;
}

.fixed-action-btn_menu {
  @extend .fixed-action-btn;
  position: absolute;
  top: 21px;
}

.direction-left.fixed-action-btn_menu ul {
  top: 93%;
}

.chip {
  position: absolute;
  top: 10px;
  right: 10px;
}
