$pc: 1000px;

@mixin pc {
  @media only screen and (min-width: ($pc)) {
    @content;
  }
}


.cards-container_event {
  width: 80%;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
}

.event-card {
  margin: 0 auto;
  width: 95%;
  @include pc {
    width: 40%;
  }
}

.event_image {
  height: 250px;
  @include pc {
    height: 300px;
  }
}
