// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tab: 601px;

@mixin tab {
  @media only screen and (min-width: ($tab)) {
    @content;
  }
}

.cards-container {
  @include tab {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
  }
}

.card-container_post {
  margin: 0 1rem 1rem;
  @include tab {
    width: 45%;
  }
}

.card-descriptions {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.pagination li.active {
  background-color: #3f51b5 !important;
}

.pagenation-height {
  height: 100px;
}

.name-icon_box_post {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: .5rem;
  &.post_show {
    margin-top: 2.5rem;
  }
  .icon_post {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    visibility: -10%;
    margin-right: .3rem;
  }
}

.post_title {
  margin-top: .2rem;
}

.post_show_container {
  position: relative;
  .chip_position {
    top: 2.5rem;
  }
}

.post_show_flex {
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.edit_btns a {
  margin-right: 1.5rem;
}

.collection_title {
  margin-right: 3rem;
}

.collection_content {
  display: block;
  margin-left: auto;
}

.post_image {
  width: 100%;
}
