.separator-text {
  display: flex;
  align-items: center;
  color: #999;
}
.separator-text:before {
  border-top: 1px solid #eee;
  content: "";
  flex-grow: 1;
}
.separator-text:after {
  border-top: 1px solid #eee;
  content: "";
  flex-grow: 1;
}
.separator-text:before {
  margin-right: 1rem;
}
.separator-text:after {
  margin-left: 1rem;
}
