.card-container_user {
  width: 100%;
}

.name-icon_box_user {
  display: flex;
  align-items: center;
  position: relative;
  &.show_user {
    padding-top: 1rem;
  }
  .icon_users {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .icon_user {
    width: 80px;
    height: 80px;
    margin-left: .8rem;
    border-radius: 50%;
  }
  .user_area_text {
    margin-top: -1rem;
  }
  .users_box {
    margin-left: .7rem;
    .users_area_text {
      font-size: 12px;
    }
  }
  .chip_position {
    left: 0;
    right: auto;
  }
}

.user_profile_text {
  margin-top: -1rem;
  font-size: 16px;
}

.label-box {
  margin-bottom: 1rem;
}

.stock-text {
  font-size: 10px;
}

.hidden_link {
  display: none;
}

.followed_text {
  font-size: 13px;
}
