<p><%= @resource.email %>様</p>

<p>asovivaをご利用いただきありがとうございます。</p>
<p>パスワードの再設定を承りました。下記リンクよりパスワードの再設定を行なってください。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心あたりがない場合は、このメールは消去していただいて構いません。</p>

<p>パスワードは上記のリンクより変更しない限り、変更されることはありません。</p>
